/* body{
    background: #1f1e1e;
}
a{
    text-decoration: none;
    font-size: large;
    color: aliceblue;
}
h1{
    color:rgb(255, 255, 255);
} */


body {
    background-color: #1f1e1e;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.btn {
    background: #292929;
    border: none;
    border: #ffffff solid 1px;
    border-radius: 5px;
    padding: 15px 0;
    text-align: center;
    transition: background 0.3s, transform 0.3s;
    display: block;
}

.btn:hover {
    background: #c9c8c8;
    transform: translateY(-5px);
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    display: block;
}

a:hover {
    color: #000000;
}
